.MainBody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 50px;
  margin-bottom: 50px;

  height: fit-content;

  flex-grow: 1;
  align-self: stretch;

  gap: 50px;
}

.Title {
  font-family: 'Irish Grover', fantasy;

  font-weight: 400;
  font-size: 48px;
}

.LineDiv {
  align-self: stretch;
  flex-grow: 1;

  padding: 0 100px 0 100px;
}

.ContentDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap : 100px;

  padding-left: 100px;
  padding-right: 100px;

  flex-grow: 1;
  align-self: stretch;
}

.ContentText {
  font-family: 'Inter', serif;
  font-size: 35px;
  text-align: start;

  color: #F3F3FF;

  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.ContentImage {
  width: 650px;
  height: 430px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(2px);

  border-radius: 8px;
}
