.TitleDiv {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 50px;

  border-radius: 8px 8px 0 0;
  background-color: #EFB48A;

  height : 50px;
  width : 290px;
}

.CalenderContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
  background-color: #EFB48A;

  height : 450px;
  width : 800px
}

.Calender {
  --rdp-cell-size: 40px;
  --rdp-accent-color: #ff5454;
  --rdp-background-color: #ff5454;
  /* Switch to dark colors for dark themes */
  --rdp-accent-color-dark: #cc6d47;
  --rdp-background-color-dark: #fa5c5c;
  /* Outline border for focused elements */
  --rdp-outline: 2px solid var(--rdp-accent-color);
  /* Outline border for focused and selected elements */
  --rdp-outline-selected: 2px solid rgba(164, 14, 14, 0.75);
}
