input {
  width: 220px;
  height: 35px;

  border-radius: 5px;
  border-width: 1px;
}

.RootDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 50px;

  flex-grow: 1;
  align-self: stretch;

  height: fit-content;

  margin-bottom: 50px;
}

.TitleDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: fit-content;
  gap: 20px;
}

.Title{
  margin-top: 20px;

  font-family: 'Inter', serif;

  font-weight: 700;
  font-size: 40px;
  line-height: 48px;

  color: #EA591A;
}

.LineDiv {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60vw;
}

.ContentDiv {
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
  justify-content: center;

  min-height: fit-content;
  min-width: fit-content;
}

.InputField {
  display: flex;
  flex-direction: column;
  align-items: start;

  font-size: 20px;

  gap: 5px;
  justify-content: center;
}

.InputFieldForm {
  display: flex;
  flex-direction: column;
  align-items: start;

  width: 400px;

  font-size: 20px;

  gap: 25px;
  justify-content: center;
}

.errorMessage {
  height: 12px;

  text-align: start;
  font-size: 15px;
  color: #da3c3c;
}

.CalenderContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 400px;
}

.Calender {
  --rdp-cell-size: 40px;
  --rdp-accent-color: #ff5454;
  --rdp-background-color: #ff5454;
  /* Switch to dark colors for dark themes */
  --rdp-accent-color-dark: #cc6d47;
  --rdp-background-color-dark: #fa5c5c;
  /* Outline border for focused elements */
  --rdp-outline: 2px solid var(--rdp-accent-color);
  /* Outline border for focused and selected elements */
  --rdp-outline-selected: 2px solid rgba(164, 14, 14, 0.75);
}
